input{
    border-color: blue;
}

label{
    width: 100px;
    display: inline-block;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form1{
    background-color: white;
    padding: 20px;
    box-shadow: 0px 8px 30px #00000070;
}
body{
    background-color: #f2f5f9;
}
.form1:hover{
    background-color: aquamarine;
}